<nav>
	<div class="navbar transparent navbar-fixed-top">
		<div class="navbar-inner">
			<span class="icon-bar"></span>
			<div class="brand">
				<%= link_to "Hunio", root_path %>
			</div>
			<% if current_user %>
				<%= link_to "#{current_user.email}", user_path(current_user.id) %>
			<!-- url to user profile -->
			<% end %>
				<% if user_signed_in? %>
			<!-- Signed in as <%# current_user.email %>. Not you? -->
			<div id="signout">
				<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			</div>
			<% else %>
			
				<%= form_tag user_session_path do %>
				<div id="create_account">
					<p><%= link_to "Create Account", new_user_registration_path %> Or Login</p></div>
				<div class="form-control">
					<%= text_field_tag 'user[email]', nil, :placeholder => 'email' %>
					<%= password_field_tag 'user[password]', nil, :placeholder => 'password' %>
					<%= button_tag "sign in", class: "btn" %>
					

							<%# label_tag 'user[remember_me]', 'Remember Me' %>
							<%# check_box_tag 'user[remember_me]' %>
					
					<%= link_to "Password Lost?", new_password_path('user') %>
					
			
			</div>
			<% end %>
			<% end %>
		</div>
	</div>
</nav>






